.container {
  margin-top: 100px !important;
}
.card {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.bounce-animate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.bounce-animate:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #79018c;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.bounce-animate:hover,
.bounce-animate:focus,
.bounce-animate:active {
  color: white;
}
.bounce-animate:hover:before,
.bounce-animate:focus:before,
.bounce-animate:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.card-img-top {
  max-width: 500px !important;
  height: 300px !important;
}
.row {
  padding: 0px !important;
  margin: 0px !important;
}
.row > * {
  padding: 0px !important;
  margin: 0px !important;
}
@media only screen and (max-width: 1200px) {
  .card-img-top {
    max-width: 100%px !important;
    height: auto !important;
  }
}
